fastapi[all]
authlib
httpx
python-jose
python-dotenv
mongoengine
pymongo
azure-storage-blob
passlib[bcrypt]
fastapi-mail
coolname
python-dateutil
redis
emoji
beautifulsoup4
icecream
celery
gunicorn
python-multipart
mongoengine_goodjson
typesense
html5lib
pytest